* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.App{
	font-family: 'Ubuntu', 'Lalezar';
}
#light  {
	background: #fff;
}
#dark {
	background: #27252e;
}

.main {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 0px 0;
       
}
.table {
       position:relative;
	width: 900px;
	height: 580px;
	background: url("https://p0.pikist.com/photos/818/131/texture-tree-boards-wood-template-wooden-background-the-structure-of-the-old.jpg")
		center no-repeat;
	background-size: cover;
	box-shadow: -4px 5px 20px rgb(38, 38, 38);
	border-radius: 20px;
	display: flex;
	justify-content: space-around;
	align-items: flex-end;

       padding: 50px 120px; 
	margin: 80px;
}
